/*div {
 outline: 1px solid #aaa;
 }*/
body {
	display: table;
	margin: 0 auto;
	width: 960px;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-family: Georgia;
	text-align: center;
}
a:link {
	color: #50A6C2;
	text-decoration: none;
}
a:visited {
	color: #50A6C2;
	text-decoration: none;
}

a:hover {
	color: #00688B;
	text-decoration: underline;
}
a:active {
	color: #50A6C2;
	text-decoration: none;
}
#byline {
	margin-bottom: 15px;
	font-weight: bold;
}
#bird-intro p {
	font-size: 14px;
	margin-bottom: 10px;
}
#main-content {
	display: table;
	margin: 0 auto;
}
#bird-list {
	width: 63%;
	float: left;
	margin-left: 20px;
}
#side-nav {
	float: left;
	width: 34%;
}
#credits {
	font-style: italic;
	font-size: 13px;
	margin-top: 30px;
}
#data {
	display: table;
	margin: 0 auto;
	margin-top: 0px;
}
.bird {
	margin-bottom: 10px;
	height: 178px;
	padding: 4px;
	padding-left: 6px;
	border: 2px solid #000;
	border-radius: 4px;
	box-shadow: 4px 4px 5px #888888;
	cursor: pointer;
	opacity: .9;
	background-color: #fdf9f3;
}
.bird:hover {
	opacity: 1;
}
.bird-name {
	font-size: 20px;
	margin-bottom: 5px;
}
.bird-number {
	margin-bottom: 14px;
}
.bird-photo {
	float: left;
	width: 25%;
	margin-right: 8px;
}
.bird-photo img {
	width: 100%;
}
.bird-info {
	font-size: 13px;
}
.bird-status {
	margin-bottom: 8px;
	display:none;
}
.data {
	display: none;
}
.data-text {
	margin-left: 50px;
	margin-bottom: 0px;
	font-family: Arial, helvetica, sans-serif;
	font-size: 16px;
}
.ui-dialog-title {
	background-color: #fdf9f3;
	font-family: Georgia;
	font-weight: normal;
	text-align: center;
	font-size: 22px;
}

.ui-widget-header {
	background: #fff;
	border: none;
}
.ui-dialog-titlebar {
	background-color: #fdf9f3;
}
/*.ui-widget-header {
 background-color: #fff;
 }*/
.ui-dialog {
	border: 2px solid #000;
	border-radius: 4px;
	box-shadow: 4px 4px 5px #888888;
	background: #fdf9f3;
}
.ui-icon-closethick {
	border: 1px solid #000;
	border-radius: 4px;
}
.ui-widget-overlay {
	background: #fff;
}
.depress {
	margin-left: 3px;
	box-shadow: none;
}
.dialog-photo {
	float: left;
	width: 120px;
	margin-right: 8px;
}
.dialog-photo img {
	float:left;
	width: 100%;
}
